<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 
    for responsive mobile view
    <meta name="viewport" content="viewport-fit=cover">
    if you want to use it, replace the above line with this
-->

<link rel="stylesheet" href="stylesheets/css/animate.min.css">
<link rel="stylesheet" href="stylesheets/css/styles.css">

<title>Site</title>